<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Panel Właściciela Restauracji</title>
    <link rel="stylesheet" th:href="@{/css/add_streets.css}" />
  </head>
  <body>
    <header>
      <img th:src="@{/images/logo_final.png}" alt="logo" />
      <div class="panel_name">PANEL WŁAŚCICIELA</div>
      <div class="button_container clearfix">
        <button class="btn_menu">POWRÓT</button>
        <button class="btn_menu">NOWA RESTAURACJA</button>
        <button class="btn_menu">DODAJ MENU</button>
        <button class="btn_menu">DODAJ ULICE</button>
        <button class="btn_menu">ZAMÓWIENIA</button>
        <button class="btn_menu clearfix">LOGOUT</button>
      </div>
    </header>
    <main>
      <h1>DODAJ ADRES DO DOWOZU:</h1>
      <div class="container">
        <form>
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Wolska 4 m 4"
          />
          <button type="submit" class="btn-create clearfix">
            DODAJ POZYCJĘ
          </button>
        </form>
      </div>
    </main>
    <h1>ADRESY W BAZIE DANYCH:</h1>
  </body>
</html>
