<DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Niepysznie - Panel Tworzenia Menu</title>
      <link rel="stylesheet" th:href="@{/css/create_menu.css}" />
    </head>
    <body>
      <header>
        <img th:src="@{/images/logo_final.png}" alt="logo" />
        <div class="panel_name">PANEL WŁAŚCICIELA: #<span th:text="${username}"></span></div>
        <div class="button_container">
          <a class="btn_menu" th:href="@{/owner-panel}">POWRÓT</a>
          <a class="btn_menu" th:href="@{/create-restaurant}">NOWA RESTAURACJA</a>
          <a class="btn_menu" th:href="@{/add-street}">DODAJ ULICE</a>
          <a class="btn_menu" th:href="@{/show-orders}">ZAMÓWIENIA</a>
          <a class="btn_menu clearfix" th:href="@{/logout}">LOGOUT</a>
        </div>
      </header>
      <main>
        <h1>DODAJ POZYCJĘ DO MENU: </h1>
        <form action="#" th:action="@{/create-menu/upload}" th:object="${webDishDTO}" enctype="multipart/form-data" class="clearfix" method="post">
          <div>
            <input type="hidden" id="restaurantId" name="restaurantId" th:value="${restaurantId}">
            <input type="hidden" id="restaurantName" name="restaurantName" th:value="${restaurantName}">
            <p>NAZWA DANIA:</p>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Twoja nazwa"
              th:field="*{dishName}"
            />
          </div>
          <div>
            <p>OPIS DANIA:</p>
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Coś o daniu"
              th:field="*{dishDescription}"
            />
          </div>
          <div>
            <p>WAGA:</p>
            <input
              type="number"
              id="weight"
              name="weight"
              min="1"
              placeholder="100"
              th:field="*{dishWeight}"
            />
          </div>
          <div>
            <label for="file-upload" class="btn-file clearfix">
              DODAJ ZDJĘCIE
            </label>
            <input
              id="file-upload"
              name="upload_cont_img"
              type="file"
              accept=".jpg"
              th:field="*{dishPhotoFile}"
            />
          </div>
          <div>
            <p>CENA:</p>
            <input
              type="number"
              step="0.01"
              min="0.01"
              id="price"
              name="price"
              placeholder="12.60"
              th:field="*{dishPrice}"
            />
          </div>
          <div>
            <p>KATEGORIA:</p>
            <select name="dish_category" id="dish_category" th:field="*{category}">
              <option value="Zupa">Zupa</option>
              <option value="Główne danie">Główne danie</option>
              <option value="Napój alkoholowy">Napój alkoholowy</option>
            </select>
          </div>
          <div>
            <p>TYP KUCHNI:</p>
            <select name="kitchen_type" id="kitchen_type" th:field="*{kitchenType}">
              <option value="Japońska">Japońska</option>
              <option value="Grecka">Grecka</option>
              <option value="Amerykańska">Amerykańska</option>
            </select>
          </div>
          <div class="clearfix">
            <button type="submit" class="btn-create">DODAJ POZYCJĘ</button>
          </div>
        </form>
      </main>
      <h1>POZYCJE W MENU RESTAURACJI:</h1>
      <div class="menu_postions_list">
        <div class="row clearfix">
          <div class="column col-1">NAZWA DANIA</div>
          <div class="column col-2">OPIS DANIA</div>
          <div class="column col-3">WAGA</div>
          <div class="column col-4">ZDJĘCIE</div>
          <div class="column col-5">CENA</div>
          <div class="column col-6">KATEGORIA</div>
          <div class="column col-7">TYP KUCHNI</div>
          <div class="column col-8">USUŃ POZYCJĘ</div>
        </div>
        <div class="row clearfix" th:each="menuPosition : ${menuPositions}">
          <div class="column description col-1" th:text="${menuPosition.dishName}"></div>
          <div class="column description col-2" th:text="${menuPosition.dishDescription}"></div>
          <div class="column col-3" th:text="${menuPosition.dishWeight}"></div>
          <div class="column col-4">
            <img th:src="@{${menuPosition.dishPhotoUrl}}" alt="dish picture" />
          </div>
          <div class="column col-5" th:text="${menuPosition.dishPrice}"></div>
          <div class="column col-6" th:text="${menuPosition.category}"></div>
          <div class="column col-7" th:text="${menuPosition.kitchenType}"></div>
          <div class="column col-8">
            <form th:action="@{create-menu/delete}" th:method="delete">
              <input type="hidden" id="dishId" name="dishId" th:value="${menuPosition.dishId}">
              <input type="hidden" name="restaurantId" th:value="${restaurantId}">
              <input type="hidden" name="restaurantName" th:value="${restaurantName}">
              <button type="submit" class="btn-delete">USUŃ POZYCJĘ</button>
            </form>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
        $("#file-upload").change(function () {
          var i = $(this).prev("label").clone();
          var file = $("#file-upload")[0].files[0].name;
          $(this).prev("label").text(file);
        });
      </script>
    </body>
  </html>
</DOCTYPE>
