<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Panel Klienta</title>
    <link rel="stylesheet" href="../static/css/customer_panel.css" />
  </head>
  <body>
    <header>
      <img src="../static/images/logo_final.png" alt="logo" />
      <div class="panel_name">PANEL KLIENTA</div>
      <div class="button_container clearfix">
        <button class="btn_menu">AKTUALNE ZAMÓWIENIA</button>
        <button class="btn_menu">HISTORIA ZAMÓWIEŃ</button>
        <button class="btn_menu clearfix">LOGOUT</button>
      </div>
    </header>
    <main>
      <h1>LISTA RESTAURACJI:</h1>
      <div class="list_container">
        <div class="row clearfix">
          <div class="column col-1">NAZWA</div>
          <div class="column col-2">TELEFON KONTAKTOWY</div>
          <div class="column col-3">OCENA</div>
          <div class="column col-4 clearfix">MENU</div>
        </div>
      </div>
      <div class="list_container">
        <div class="row clearfix">
          <div class="column col-1">NAZWA</div>
          <div class="column col-2">TELEFON KONTAKTOWY</div>
          <div class="column col-3">OCENA</div>
          <div class="column col-4 clearfix">
            <button class="btn-menu">POKAŻ MENU I ZAMÓW</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
