<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepyszniealezatodrogo.pl</title>
    <link rel="stylesheet" href="../static/css/home.css" />
</head>
<body>
<header>
    <img src="../static/images/logo_final.png" alt="logo of company" />
</header>
<main>
    <button class="btn-login">Login</button>
    <button class="btn-create">Create Account</button>
</main>
<footer>
    <p>It's a footer, nothing else. Please don't click! Thank you.</p>
</footer>
</body>
</html>