<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepyszniealezatodrogo.pl</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
  </head>
  <body>
    <header>
      <img th:src="@{/images/logo_final.png}" alt="logo of company" />
    </header>
    <main>
      <form action="#" th:action="@{/login}" th:method="GET">
      <button class="btn-login">Login</button>
      </form>
      <form action="#" th:action="@{/signup}" th:method="GET">
      <button class="btn-create">Create Account</button>
      </form>
    </main>
    <footer>
      <p>It's a footer, nothing else. Please don't click! Thank you.</p>
    </footer>
  </body>
</html>
