<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Panel Właściciela Restauracji</title>
    <link rel="stylesheet" th:href="@{/css/owner_panel.css}" />
  </head>
  <body>
    <header>
      <form>
      <img th:src="@{/images/logo_final.png}" alt="logo" />
      <div class="panel_name">PANEL WŁAŚCICIELA</div>
      <div class="button_container clearfix">
        <button type="button" class="btn_menu" th:formaction="@{/create-restaurant}">NOWA RESTAURACJA</button>
        <button type="button" class="btn_menu" th:formaction="@{/create-menu}">DODAJ MENU</button>
        <button type="button" class="btn_menu" th:formaction="@{/add-street}">DODAJ ULICE</button>
        <button type="button" class="btn_menu" th:formaction="@{/show-orders}">ZAMÓWIENIA</button>
        <button type="button" class="btn_menu clearfix" th:formaction="@{/}">LOGOUT</button>
      </div>
      </form>
    </header>
    <main>
      <h1>LISTA RESTAURACJI:</h1>
      <div class="list_container">
        <div class="row clearfix">
          <div class="column col-1">NAZWA</div>
          <div class="column col-2">TELEFON KONTAKTOWY</div>
          <div class="column col-3">OCENA</div>
          <div class="column col-4">TYP KUCHNI</div>
          <div class="column col-5 clearfix">ADRES</div>
        </div>
        <div class="row clearfix">
          <div class="column col-1">NAZWA</div>
          <div class="column col-2">TELEFON KONTAKTOWY</div>
          <div class="column col-3">OCENA</div>
          <div class="column col-4">TYP KUCHNI</div>
          <div class="column col-5 clearfix">ADRES</div>
        </div>
      </div>
    </main>
  </body>
</html>
