<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Panel Właściciela Restauracji</title>
    <link rel="stylesheet" th:href="@{/css/owner_panel.css}" />
  </head>
  <body>
    <header>
      <form>
      <img th:src="@{/images/logo_final.png}" alt="logo" />
        <div class="panel_name">PANEL WŁAŚCICIELA: #<span th:text = ${username}></span></div>
      <div class="button_container clearfix">
        <a class="btn_menu" th:href="@{/create-restaurant}">NOWA RESTAURACJA</a>
        <a class="btn_menu" th:href="@{/add-street}">DODAJ ULICE</a>
        <a class="btn_menu" th:href="@{/show-orders}">ZAMÓWIENIA</a>
        <a class="btn_menu clearfix" th:href="@{/logout}">LOGOUT</a>
      </div>
      </form>
    </header>
    <main>
      <h1>LISTA RESTAURACJI:</h1>
      <div class="list_container">
        <div class="row clearfix">
          <div class="column col-1">NAZWA</div>
          <div class="column col-2">TELEFON KONTAKTOWY</div>
          <div class="column col-3">OCENA</div>
          <div class="column col-4">TYP KUCHNI</div>
          <div class="column col-5">ADRES</div>
          <div class="column col-6 clearfix">MENU</div>
        </div>
        <div class="row clearfix" th:each="restaurant : ${restaurants}">
          <div class="column col-1" th:text="${restaurant.restaurantName}"></div>
          <div class="column col-2" th:text="${restaurant.restaurantPhone}"></div>
          <div class="column col-3" th:text="${restaurant.restaurantPhone}"></div>
          <div class="column col-4" th:text="${restaurant.kitchenType.kitchenTypeName}"></div>
          <div class="column col-5" th:text="${restaurant.address.addressStreet}"></div>
          <div class="column col-6 clearfix">
            <form action="#" th:action="@{/create-menu}" th:method="GET">
              <input type="hidden" name="restaurantId" th:value="${restaurant.restaurantId}">
              <input type="hidden" name="restaurantName" th:value="${restaurant.restaurantName}">
              <button type="submit" class="btn-menu" >EDYTUJ MENU</button>
            </form>
          </div>

        </div>
      </div>
    </main>
  </body>
</html>
