<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Menu Restauracji</title>
    <link rel="stylesheet" th:href="@{/css/show_menu.css}" />
  </head>
  <body>
  <form>
    <header>
      <img th:src="@{/images/logo_final.png}" alt="logo" />
      <div class="panel_name">PANEL KLIENTA</div>
      <div class="button_container clearfix">
        <a class="btn_menu" th:href="@{/customer-panel}">POWRÓT</a>
        <a class="btn_menu" th:href="@{/show-orders-customer}">AKTUALNE ZAMÓWIENIA</a>
        <a class="btn_menu" th:href="@{/order-history}">HISTORIA ZAMÓWIEŃ</a>
        <a class="btn_menu clearfix" th:href="@{/}">LOGOUT</a>
      </div>
    </header>
    <main>
      <h1>POZYCJE W MENU RESTAURACJI:</h1>
      <div class="menu_postions_list">
        <div class="row clearfix">
          <div class="column col-1">NAZWA DANIA</div>
          <div class="column col-2">OPIS DANIA</div>
          <div class="column col-3">WAGA</div>
          <div class="column col-4">ZDJĘCIE</div>
          <div class="column col-5">CENA</div>
          <div class="column col-6">CATEGORIA</div>
          <div class="column col-7">TYP KUCHNI</div>
          <div class="column col-8">DODAJ</div>
        </div>
        <div class="row clearfix">
          <div class="column description col-1">
            Pierogi z kapustą i grzybami
          </div>
          <div class="column description col-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            ipsum.
          </div>
          <div class="column col-3">150g</div>
          <div class="column col-4">
            <img th:src="@{/images/dish1.jpg}" alt="dish picture" />
          </div>
          <div class="column col-5">111.33</div>
          <div class="column col-6">NAPÓJ ALKOHOLOWY</div>
          <div class="column col-7">AMERYKAŃSKA</div>
          <div class="column col-8">
            <button type="submit" class="btn-add">DODAJ DO ZAMÓWIENIA</button>
          </div>
        </div>
        <div class="row clearfix">
          <div class="column description col-1">
            Pierogi z kapustą i grzybami
          </div>
          <div class="column description col-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            ipsum.
          </div>
          <div class="column col-3">150g</div>
          <div class="column col-4">
            <img th:src="@{/images/dish2.jpg}" alt="dish picture" />
          </div>
          <div class="column col-5">111.33</div>
          <div class="column col-6">NAPÓJ ALKOHOLOWY</div>
          <div class="column col-7">AMERYKAŃSKA</div>
          <div class="column col-8">
            <button type="submit" class="btn-add">DODAJ DO ZAMÓWIENIA</button>
          </div>
        </div>
      </div>
      <h1>WYBRANE POZYCJE Z MENU:</h1>
      <div class="menu_postions_list">
        <div class="row clearfix">
          <div class="column col-1">NAZWA DANIA</div>
          <div class="column col-2">OPIS DANIA</div>
          <div class="column col-3">WAGA</div>
          <div class="column col-4">ZDJĘCIE</div>
          <div class="column col-5">CENA</div>
          <div class="column col-6">CATEGORIA</div>
          <div class="column col-7">TYP KUCHNI</div>
          <div class="column col-8">USUŃ</div>
        </div>
        <div class="row clearfix">
          <div class="column description col-1">
            Pierogi z kapustą i grzybami
          </div>
          <div class="column description col-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            ipsum.
          </div>
          <div class="column col-3">150g</div>
          <div class="column col-4">
            <img th:src="@{/images/dish2.jpg}" alt="dish picture" />
          </div>
          <div class="column col-5">111.33</div>
          <div class="column col-6">NAPÓJ ALKOHOLOWY</div>
          <div class="column col-7">AMERYKAŃSKA</div>
          <div class="column col-8">
            <button type="submit" class="btn-add">USUŃ</button>
          </div>
        </div>
      </div>
      <button type="submit" class="accept_order">POTWIERDŹ ZAMÓWIENIE</button>
    </main>
  </form>
  </body>
</html>
