<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Niepysznie - Aktualne Zamówienia</title>
    <link rel="stylesheet" th:href="@{/css/show_orders_customer.css}" />
  </head>
  <body>
  <form>
    <header>
      <img th:src="@{/images/logo_final.png}" alt="logo" />
      <div class="panel_name">PANEL KLIENTA</div>
      <div class="button_container clearfix">
        <button type="submit" class="btn_menu" th:formaction="@{/customer-panel}">POWRÓT</button>
        <button type="submit" class="btn_menu" th:formaction="@{/show-orders-customer}">AKTUALNE ZAMÓWIENIA</button>
        <button type="submit" class="btn_menu" th:formaction="@{/order-history}">HISTORIA ZAMÓWIEŃ</button>
        <button type="submit" class="btn_menu clearfix" th:formaction="@{/}">LOGOUT</button>
      </div>
    </header>
    <main>
      <h1>LISTA AKTUALNYCH ZAMÓWIEŃ:</h1>
      <div class="list_container">
        <div class="row clearfix">
          <div class="column col-1">NUMER ZAMÓWIENIA</div>
          <div class="column col-2">ADRES DOSTAWY</div>
          <div class="column col-3">SZCZEGÓŁY ZAMÓWIENIA</div>
        </div>
        <div class="row clearfix">
          <div class="column col-1">111-12345</div>
          <div class="column col-2">WOLSKA 4 m 4</div>
          <div class="column col-3 clearfix small_padding">
            <button type="submit" class="btn-details">POKAŻ SZCZEGÓŁY</button>
          </div>
        </div>
      </div>
    </main>
  </form>
  </body>
</html>
